<div>
    <div class="hero__categories">
        <div class="hero__categories__all" >
            <i class="fa fa-bars"></i>
            <span>Toutes Les Catégories</span>
        </div>
        <ul class="dropdown-content ">
            <li><a routerLink="/" routerLinkActive="active">VISAGE</a></li>
            <li><a routerLink="" routerLinkActive="active">MAQUILLAGE</a></li>
            <li><a routerLink="" routerLinkActive="active">CORPS</a></li>
            <li><a routerLink="" routerLinkActive="active">CHEVEUX</a></li>
            <li><a routerLink="" routerLinkActive="active">BIO</a></li>
            <li><a routerLink="" routerLinkActive="active">PARA-MÉDECAL</a></li>
            <li><a routerLink="" routerLinkActive="active">HYGIÈNE</a></li>
            <li><a routerLink="" routerLinkActive="active">BÉBÉ & MAMAN</a></li>
            <li><a routerLink="" routerLinkActive="active">HOMME</a></li>
            <li><a routerLink="" routerLinkActive="active">SOLAIRE</a></li>
            <li><a routerLink="" routerLinkActive="active">SANTÉ</a></li>
        </ul>
    </div>
</div>