<div>
    <div class="hero__categories" >
        <div class="hero__categories__all" >
            <i class="fa fa-bars"></i>
            <span>Toutes Les Catégories</span>
        </div>
        <ul class="dropdown-content ">
            <li><a routerLink="" routerLinkActive="active">Fresh Meat</a></li>
            <li><a routerLink="" routerLinkActive="active">Vegetables</a></li>
            <li><a routerLink="" routerLinkActive="active">Fruit &amp; Nut Gifts</a></li>
            <li><a routerLink="" routerLinkActive="active">Fresh Berries</a></li>
            <li><a routerLink="" routerLinkActive="active">Ocean Foods</a></li>
            <li><a routerLink="" routerLinkActive="active">Butter &amp; Eggs</a></li>
            <li><a routerLink="" routerLinkActive="active">Fastfood</a></li>
            <li><a routerLink="" routerLinkActive="active">Fresh Onion</a></li>
            <li><a routerLink="" routerLinkActive="active">Papayaya &amp; Crisps</a></li>
            <li><a routerLink="" routerLinkActive="active">Oatmeal</a></li>
            <li><a routerLink="" routerLinkActive="active">Fresh Bananas</a></li>
        </ul>
    </div>
</div>